<md-list>
    <md-list-item ng-repeat="payment in vm.payments | orderBy:'-timestamp'">
        <div layout="row" flex>
            <p flex>
                {{payment.membershipPrice}} PLN za {{payment.membershipNumberOfTrainings}} treningów, w dniu {{payment.timestamp | date}}
            </p>
            <md-button class="md-icon-button" aria-label="Usuń">
                <md-icon md-svg-icon="delete_forever"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Edytuj">
                <md-icon md-svg-icon="mode_edit"></md-icon>
            </md-button>
        </div>
    </md-list-item>
</md-list>
<section layout="row" layout-align="end">
    <md-button ng-click="vm.newPayment($event)">
        Nowa płatność
    </md-button>
</section>