<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <title>Lepszy Klub</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" type="image/x-icon" href="assets/icons/lepszy-klub-rounded-corners.ico">

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="assets/libs/angular_material/1.1.0/angular-material.css">
    <link rel="stylesheet" href="assets/app.css">

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>

<body ng-app="membershipSoftware" layout="column" ng-controller="MainController as vm" ng-cloak>

    <md-toolbar layout="row" md-theme="darkToolbar">
        <md-button class="menu" hide-gt-sm ng-click="vm.toggleList()" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <a ng-href="#/">
            <h1 hide show-gt-sm class="brand">
                Lepszy Klub
            </h1>
        </a>
        <span flex></span>
        <md-button ng-click="vm.go('/customers')">
            Klienci
        </md-button>
        <md-button ng-click="vm.go('/check-ins')">
            Wejścia
        </md-button>
        <md-button ng-click="vm.go('/payments')">
            Płatności
        </md-button>
        <md-menu md-position-mode="target-right target">
            <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                <md-icon md-svg-icon="more_vert"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="vm.go('/memberships')">
                        <div layout="row" flex>
                            <p flex>Oferta</p>
                            <!--<md-icon md-menu-align-target md-svg-icon="assets/svg/ic_add_black_24px.svg" style="margin: auto 3px auto 0;"></md-icon>-->
                        </div>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <div layout="row" flex>
                            <p flex>Grupy</p>
                            <!--<md-icon md-menu-align-target md-svg-icon="assets/svg/ic_add_black_24px.svg" style="margin: auto 3px auto 0;"></md-icon>-->
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-toolbar>

    <div flex layout="row" ng-controller="MainController as vm">

        <md-sidenav ng-click="vm.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2">
            <md-list>
                <md-list-item>
                    <md-button>
                        <md-icon md-svg-icon="search" class="avatar-icon"></md-icon>
                        Szukaj klienta
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="vm.newCustomer($event)">
                        <md-icon md-svg-icon="add" class="avatar-icon"></md-icon>
                        Nowy klient
                    </md-button>
                </md-list-item>
                <md-list-item ng-repeat="it in vm.customersService.customers">
                    <md-button ng-click="vm.selectCustomer(it)" ng-class="{'selected' : it === vm.customersService.selectedCustomer }">
                        <md-icon md-svg-icon="svg-1" class="avatar"></md-icon>
                        {{it.firstName + " " + it.lastName}}
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <md-content flex id="content" ng-view></md-content>

    </div>

    <script src="assets/libs/angularjs/1.5.5/angular.js"></script>
    <script src="assets/libs/angularjs/1.5.5/angular-route.js"></script>
    <script src="assets/libs/angularjs/1.5.5/angular-resource.js"></script>
    <script src="assets/libs/angularjs/1.5.5/angular-animate.js"></script>
    <script src="assets/libs/angularjs/1.5.5/angular-aria.js"></script>
    <script src="assets/libs/angular_material/1.1.0/angular-material.js"></script>

    <script src="./src/membership-software.module.js"></script>
    <script src="./src/membership-software.config.js"></script>
    <script src="./src/membership-software.constants.js"></script>
    <script src="./src/membership-software.routes.js"></script>

    <script src="./src/layout/layout.module.js"></script>
    <script src="./src/customers/customers.module.js"></script>
    <script src="./src/cards/cards.module.js"></script>
    <script src="./src/memberships/memberships.module.js"></script>
    <script src="./src/home/home.module.js"></script>
    <script src="./src/check-ins/check-ins.module.js"></script>
    <script src="./src/payments/payments.module.js"></script>

    <script src="./src/layout/main.controller.js"></script>

    <script src="./src/customers/customer.controller.js"></script>
    <script src="./src/customers/new-customer-dialog.controller.js"></script>
    <script src="./src/customers/customers.service.js"></script>

    <script src="./src/cards/cards.service.js"></script>

    <script src="./src/memberships/memberships.service.js"></script>
    <script src="./src/memberships/memberships.controller.js"></script>
    <script src="./src/memberships/new-membership-dialog.controller.js"></script>

    <script src="./src/home/home.controller.js"></script>

    <script src="./src/check-ins/check-ins.controller.js"></script>

    <script src="./src/payments/payments.service.js"></script>
    <script src="./src/payments/payments.controller.js"></script>
    <script src="./src/payments/payments-list.directive.js"></script>
    <script src="./src/payments/payments-list.controller.js"></script>
    <script src="./src/payments/customer-payments-list.directive.js"></script>
    <script src="./src/payments/customer-payments-list.controller.js"></script>
    <script src="./src/payments/customer-new-payment-dialog.controller.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>

</body>

</html>