<!DOCTYPE html>
<html ng-app="membershipManagementApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lepszy Klub</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon/lepszy-klub-rounded-corners.ico"/>
    <script type="text/javascript" src="webjars/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="webjars/angular-route/1.4.7/angular-route.min.js"></script>
    <script type="text/javascript" src="webjars/angular-resource/1.4.7/angular-resource.min.js"></script>
    <script type="text/javascript" src="webjars/angular-animate/1.4.7/angular-animate.min.js"></script>
    <script type="text/javascript" src="webjars/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="webjars/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="webjars/sockjs-client/1.0.3/dist/sockjs.min.js"></script>
    <script type="text/javascript" src="webjars/stomp-websocket/2.3.4/lib/stomp.min.js"></script>
    <script type="text/javascript" src="webjars/AngularStompDK/0.3.4/dist/angular-stomp.js"></script>
    <script type="text/javascript" src="webjars/angular-checklist-model/0.6.0/checklist-model.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/dashboard.css"/>
</head>
<body ng-controller="IndexCtrl">
<!-- TODO: add danger-like style to this -->
<nav class="navbar navbar-default navbar-fixed-bottom" ng-hide="stompConnectionStatus">
    <div class="container-fluid">
        <p class="navbar-text">Utracono połączenie z serwerem</p>
    </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" ng-init="navCollapsed = true">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="navbar-logo" href="#/">Lepszy Klub</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" uib-collapse="navCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/check-in">Wejścia</a></li>
                <li><a href="#/payment">Płatności</a></li>
                <li><a href="#/settings">Ustawienia</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" ng-model="search" placeholder="Wyszukaj osoby..."
                       ng-change="performSearch()">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <!-- TODO fixed width sidebar -->
        <div class="col-sm-4 col-md-3 sidebar">
            <!-- TODO separate ul for each alphabet letter and sorting -->
            <h4 ng-show="search">Wyniki wyszukiwania</h4>

            <p ng-show="search && peopleFiltered.length === 0" class="text-muted">Brak wyników</p>
            <ul class="nav nav-sidebar" ng-show="search">
                <!-- FIXME filters _links -->
                <li ng-repeat="person in peopleFiltered" ng-class="isActive(person) ? 'active' : ''">
                    <a ng-href="#{{person.profileUrl}}">
                        {{person.firstName + ' ' + person.lastName}}
                    </a>
                </li>
            </ul>
            <hr ng-show="search"/>
            <ul class="nav nav-sidebar">
                <!-- TODO refactor! -->
                <li ng-repeat="person in people"
                    ng-class="isActive(person) && (!search || peopleFiltered.length === 0) ? 'active' : ''">
                    <!-- TODO $parent is not a good solution -->
                    <a ng-href="#{{person.profileUrl}}" ng-click="$parent.search = null">
                        {{person.firstName + ' ' + person.lastName}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main" ng-view/>
    </div>
</div>

</body>
</html>