<div layout="row" layout-align="start center" flex>
    <h1 flex>{{ vm.customersService.selectedCustomer.firstName + " " + vm.customersService.selectedCustomer.lastName }}</h1>
    <md-button class="md-icon-button" ng-click="vm.toggleEditMode()" aria-label="Edytuj">
        <md-icon md-svg-icon="mode_edit"></md-icon>
    </md-button>
</div>
<md-input-container class="md-block">
    <label>Imię</label>
    <input ng-model="vm.customer.firstName">
</md-input-container>
<md-input-container class="md-block">
    <label>Nazwisko</label>
    <input ng-model="vm.customer.lastName">
</md-input-container>
<md-input-container class="md-block">
    <label>Email</label>
    <input ng-model="vm.customer.email">
</md-input-container>
<md-input-container class="md-block">
    <label>Notatka</label>
    <textarea ng-model="vm.customer.note" md-maxlength="150" rows="5"></textarea>
</md-input-container>
<section layout="row" layout-align="end">
    <md-button class="md-warn" ng-click="vm.deleteCustomer($event, vm.customersService.selectedCustomer)">
        Usuń klienta
    </md-button>
    <md-button ng-click="vm.updateCustomer($event, vm.customersService.selectedCustomer, vm.customer)">
        Zapisz zmiany
    </md-button>
</section>
<h2>Karty</h2>
<md-list>
    <md-list-item ng-repeat="card in vm.cards">
        <div layout="row" flex>
            <p flex>
                {{card.code}} (wydana {{card.issueTimestamp | date}})
            </p>
            <md-button class="md-icon-button" ng-click="vm.deleteCard($event, vm.customersService.selectedCustomer, card)" aria-label="Usuń">
                <md-icon md-svg-icon="delete_forever"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.editCard(card)" aria-label="Edytuj">
                <md-icon md-svg-icon="mode_edit"></md-icon>
            </md-button>
        </div>
    </md-list-item>
</md-list>
<section layout="row" layout-align="end">
    <md-button ng-click="vm.newCard($event, vm.customersService.selectedCustomer)">
        Nowa karta
    </md-button>
</section>
<h2>Płatności</h2>
<ms-customer-payments-list ms-customer="vm.customersService.selectedCustomer"></ms-customer-payments-list>
<h2>Wejścia</h2>