<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1>Karnety</h1>
            <mm-card full-name="fullName" code="code"></mm-card>
            <div class="text-center">
                <a href ng-click="add(fullName, code)" class="btn btn-primary">Dodaj</a>
                <a href ng-click="clear()" class="btn btn-default">Wyczyść</a>
                <a href ng-click="" class="btn btn-danger">Usuń</a>
            </div>
        </div>
        <!-- TODO: filter cards list by mm-card input -->
        <table class="table">
            <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Identyfikator</th>
                <th>Data rejestracji</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="card in cards | filter:{ code: code, ownerFullName: fullName }">
                <td>{{card.owner.firstName}}</td>
                <td>{{card.owner.lastName}}</td>
                <td>{{card.code}}</td>
                <td>{{card.issueTimestamp | date : 'short'}}</td>
                <td>
                    <a href ng-click="remove(card)" class="text-danger">Usuń</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>