<h1 class="page-header">Wejścia</h1>

<div class="row">
    <div class="panel panel-default text-center col-sm-12">
        <p class="lead home-top-bottom-margin">
            Skanuj karnet aby zarejestrować wejście.
        </p>
    </div>
</div>

<mm-card full-name="owner.firstName + ' ' + owner.lastName" code="card.code"></mm-card>

<div class="row">
    <div class="table-responsive col-sm-6 col-sm-offset-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Data</th>
                <th>Godzina</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="checkIn in checkIns">
                <td>{{checkIn.person.firstName}}</td>
                <td>{{checkIn.person.lastName}}</td>
                <td>{{checkIn.timestamp | date : 'dd.MM.yyyy'}}</td>
                <td>{{checkIn.timestamp | date : 'HH:mm'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
