<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1>Sprawdzanie karnetów</h1>

            <p>Przyłóż karnet do czytnika aby sprawdzić jego ważność</p>

            <mm-card full-name="fullName" code="code"></mm-card>

            <div>
                <uib-alert ng-repeat="alert in alerts | orderBy: '-'" type="{{alert.type}}"
                           close="closeAlert($index)">
                    {{alert.msg}}
                </uib-alert>
            </div>
        </div>
    </div>
</div>