<h1 class="page-header">Klienci</h1>

<form novalidate class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="firstName">
            Imię
        </label>
        <input type="text" class="form-control" id="firstName" ng-model="customer.firstName"
               placeholder="Imię"/>
    </div>
    <div class="form-group">
        <label class="sr-only" for="lastName">
            Nazwisko
        </label>
        <input type="text" class="form-control" id="lastName" ng-model="customer.lastName"
               placeholder="Nazwisko"/>
    </div>
    <button type="submit" ng-click="add(customer)" class="btn btn-default">
        Dodaj klienta
    </button>
</form>
<ol>
    <li ng-repeat="customer in customers">
        <a href="{{'#/customers/' + getCustomerId(customer)}}">{{customer.firstName + ' ' + customer.lastName}}</a>
        <a ng-click="remove(customer)" href class="pull-right text-danger">Usuń</a>
    </li>
</ol>