<form class="form-horizontal" ng-submit="addPayment(payment, membership)">
    <h1 class="page-header">
        Nowa płatność
        <div class="pull-right text-right">
            <a ng-href="#/people/{{personId}}" type="button" class="btn btn-default align-with-header" ng-show="personPredefined">
                Powrót
            </a>
            <button type="submit" class="btn btn-primary align-with-header">Dalej</button>
        </div>
    </h1>
    <div class="form-group input-text-min-height">
        <label class="col-sm-3 control-label" for="payer">Wpłacający</label>
        <div class="col-sm-6">
            <p id="payer" class="form-control-static user-profile-form-control-static">{{payment.payer.firstName + ' ' + payment.payer.lastName}}</p>
        </div>
    </div>
    <div class="form-group input-text-min-height">
        <label class="col-sm-3 control-label" for="membershipStartDate">Początek obowiązywania</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" id="membershipStartDate"
                   ng-model="payment.membershipStartDate">
        </div>
    </div>
    <div class="form-group input-text-min-height">
        <label class="col-sm-3 control-label">Rodzaj płatności</label>
        <div class="col-sm-6">
            <div class="radio" ng-repeat="membership in memberships">
                <label>
                    <input type="radio" ng-model="$parent.membership" ng-value="membership" checked>
                    <!-- TODO angular formatter -->
                    {{membership.name}}: {{membership.numberOfTrainings}} treningów do wykorzystania przez {{membership.durationInDays}} dni za <strong>{{membership.price}}zł</strong>
                </label>
            </div>
        </div>
    </div>
</form>