<h1 class="page-header">Klienci</h1>

<form novalidate class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="firstName">
            Imię
        </label>
        <input type="text" class="form-control" id="firstName" ng-model="person.firstName"
               placeholder="Imię"/>
    </div>
    <div class="form-group">
        <label class="sr-only" for="lastName">
            Nazwisko
        </label>
        <input type="text" class="form-control" id="lastName" ng-model="person.lastName"
               placeholder="Nazwisko"/>
    </div>
    <button type="submit" ng-click="add(person)" class="btn btn-default">
        Dodaj klienta
    </button>
</form>
<ol>
    <li ng-repeat="person in people">
        <a href="{{'#/people/' + getPersonId(person)}}">{{person.firstName + ' ' + person.lastName}}</a>
        <a ng-click="remove(person)" href class="pull-right text-danger">Usuń</a>
    </li>
</ol>