<button type="button" class="btn btn-link">
    <span class="glyphicon glyphicon-chevron-left"></span> Powrót
</button>
<button type="button" class="btn btn-link pull-right">
    Edycja
</button>
<hr/>
<h1 class="page-header">{{firstName + ' ' + lastName}}</h1>
<form>
    <div class="form-group">
        <label for="email">email</label>
        <input type="email" class="form-control" id="email" placeholder="email" ng-model="email">
    </div>
    <div class="form-group">
        <label for="phone">telefon</label>
        <input type="text" class="form-control" id="phone" placeholder="telefon" ng-model="phone">
    </div>
    <div class="form-group">
        <label for="birthday">urodziny</label>
        <input type="text" class="form-control" id="birthday" placeholder="urodziny" ng-model="birthday">
    </div>
</form>
<p>Data urodzenia: {{ birthday | date:'yyyy-MM-dd' }}</p>
<h2 class="sub-header">Karnety</h2>
<ul>
    <li ng-repeat="card in cards">{{card.code}}</li>
</ul>
<h2 class="sub-header">Płatności</h2>
<h2 class="sub-header">Wejścia</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Karnet</th>
            <th>Data i godzina</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="checkIn in checkIns">
            <td>{{checkIn._embedded.card.code}}</td>
            <td>{{checkIn.timestamp | date:'yyyy-MM-dd HH:mm'}}</td>
        </tr>
        </tbody>
    </table>
</div>