<form class="form-horizontal" ng-submit="save()">
    <h1 class="page-header">
        {{person.firstName + ' ' + person.lastName}}
        <div class="pull-right text-right">
            <button type="button" class="btn btn-default align-with-header" ng-click="editing = !editing"
                    ng-hide="editing">Edytuj profil
            </button>
            <button type="button" class="btn btn-default align-with-header" ng-show="editing" ng-click="cancel()">
                Anuluj
            </button>
            <button type="submit" class="btn btn-primary align-with-header" ng-show="editing">Zapisz zmiany</button>
        </div>
    </h1>
    <div class="form-group input-text-min-height">
        <label class="col-sm-3 control-label" for="firstName">Imię</label>

        <div class="col-sm-6">
            <p class="form-control-static user-profile-form-control-static" ng-hide="editing"
               ng-bind="person.firstName"></p>
            <input type="text" class="form-control" id="firstName" placeholder="Imię" ng-model="person.firstName"
                   ng-show="editing">
        </div>
    </div>
    <div class="form-group input-text-min-height">
        <label class="col-sm-3 control-label">Nazwisko</label>

        <div class="col-sm-6">
            <p class="form-control-static user-profile-form-control-static" ng-hide="editing"
               ng-bind="person.lastName"></p>
            <input type="text" class="form-control" id="lastName" placeholder="Nazwisko" ng-model="person.lastName"
                   ng-show="editing">
        </div>
    </div>
    <div class="form-group input-text-min-height">
        <label class="col-sm-3 control-label">Data urodzenia</label>

        <div class="col-sm-6">
            <p class="form-control-static user-profile-form-control-static" ng-hide="editing">{{ person.birthday || " "
                | date:'dd.MM.yyyy' }}</p>
            <input type="date" class="form-control" id="birthday" placeholder="Data urodzenia"
                   ng-model="person.birthday" ng-show="editing">
        </div>
    </div>
    <div class="form-group input-text-min-height">
        <label class="col-sm-3 control-label">Email</label>

        <div class="col-sm-6">
            <p class="form-control-static user-profile-form-control-static" ng-hide="editing">{{ person.email }}</p>
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="person.email"
                   ng-show="editing">
        </div>
    </div>
    <div class="form-group input-text-min-height">
        <label class="col-sm-3 control-label">Telefon</label>

        <div class="col-sm-6">
            <p class="form-control-static user-profile-form-control-static" ng-hide="editing">{{ person.phone }}</p>
            <input type="tel" pattern="[+ \-0-9]+" class="form-control" id="phone" placeholder="Telefon"
                   ng-model="person.phone" ng-show="editing">
        </div>
    </div>
    <div class="form-group input-text-min-height">
        <label class="col-sm-3 control-label">Grupy</label>

        <div class="col-sm-6">
            <p class="form-control-static user-profile-form-control-static" ng-hide="editing" ng-bind="showGroup()"></p>
            <label class="checkbox-inline" ng-show="editing" ng-repeat="group in allGroups">
                <input type="checkbox" checklist-model="person.trainingGroups" checklist-value="group._links.self.href">
                {{ group.name }}
            </label>
        </div>
    </div>
    <div class="form-group input-text-min-height">
        <label class="col-sm-3 control-label">Notatka</label>

        <div class="col-sm-6">
            <p class="form-control-static user-profile-form-control-static preserve-white-spaces" ng-hide="editing">{{
                person.note }}</p>
            <textarea class="form-control" rows="5" id="note" placeholder="Notatka" ng-model="person.note"
                      ng-show="editing"></textarea>
        </div>
    </div>
    <div class="form-group" ng-show="editing">
        <div class="col-sm-6 col-sm-offset-3">
            <!-- TODO ng-click-->
            <button type="button" class="btn btn-danger btn-block">
                <span class="glyphicon glyphicon-remove"></span> Usuń profil
            </button>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-sm-4">
        <h2 class="sub-header">Wejścia</h2>
        <p>
            <button type="button" class="btn btn-default btn-sm btn-block">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </p>
        <ul ng-repeat="checkIn in checkIns">
            <li>{{checkIn.timestamp | date:'dd.MM.yyyy - HH:mm'}}</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h2 class="sub-header">Płatności</h2>
        <p>
            <a ng-href="#/new-payment?person={{personId}}" type="button" class="btn btn-default btn-sm btn-block">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>
        <ul ng-repeat="payment in payments">
            <li>{{payment.membershipName}} (<strong>{{payment.membershipPrice}}zł</strong>, zapłacone {{payment.timestamp | date:'dd.MM.yyyy o HH:mm'}}, ważne od {{payment.membershipStartDate | date:'dd.MM.yyyy'}} przez {{payment.membershipDurationInDays}} dni)</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h2 class="sub-header">Karnety</h2>
        <p>
            <button type="button" class="btn btn-default btn-sm btn-block">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </p>
        <ul>
            <li ng-repeat="card in cards">{{card.code}}</li>
        </ul>
    </div>
</div>


